/* Container Styling */
.webcam-container {
  text-align: center;
  padding: 0.3rem;
  /* background: #222; */
  color: #fff;
  width: 100%;
  max-width: 800px;
  height: 20%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.captured-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
  border: 3px solid #fff;
}

.open-btn,
.capture-btn,
.close-btn,
.save-btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.open-btn {
  background-color: #007bff;
  color: white;
  display: block;
}

.capture-btn {
  background-color: #28a745;
  color: white;
}

.close-btn {
  background-color: #dc3545;
  color: white;
}
.save-btn {
  background-color: #f39c12;
  color: white;
}
.webcam-box {
  position: absolute;
  top: 10%;
}

.webcam-feed {
  width: 100%;
  max-width: 450px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.button-group {
  margin-top: 10px;
}

.captured-image {
  margin-top: 20px;
  position: absolute;
  top: 10%;
}

.captured-image img {
  width: 100%;
  max-width: 300px;
  border: 2px solid #000;
  border-radius: 10px;
}

.Dashboard-new-emp {
  width: 40%;
  height: 50px;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  font: var(--font-style);
  color: white;
  box-shadow: 0px 0px 10px black;
  margin: 1% 0% 0% 10%;
  text-align: center;
  cursor: pointer;
}
#dashboard-form-newemp {
  box-shadow: 0px 0px 15px black;
  border-radius: 2%;
  width: 75%;
  height: 100%;
  margin: 3% 0% 0% 5%;
  padding: 7% 1% 7% 1%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.Dashboard-new-emp {
  width: 50%;
  height: 10%;
font-size: 1rem;
  margin: 1% 0% 10% 3%;
}
.webcam-container {
  text-align: center;
  padding: 0.1rem;
  width: 100%;
  max-width: 800px;
  height: 10%;
  margin: 1% 0% 8% 3%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 #dashboard-form-newemp {
  box-shadow: 0px 0px 15px black;
  border-radius: 2%;
  width: 95%;
  height: 100%;
  margin: 3% 0% 0% 5%;
  padding: 7% 1% 7% 1%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #dashboard-form-newemp {
  width: 75%;
  height: 100%;
  margin: 3% 0% 0% 5%;
  padding: 7% 1% 7% 1%;
} }